.bold {
    font-weight:bold;
}
div.form-group div.select2-container.ng-invalid {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}
.form-item-invalid {
    color: red;
}
input.ng-invalid {
  border: 1px solid red;
}